.container>*{
    border: 3px solid gold;
    background-color: blanchedalmond;
    padding: 30px;
}
header{
    grid-area: header;
}
nav{
    grid-area: navbar;
}
main{
    grid-area: main;
}
#sidebar{
    grid-area: sidebar;
}
#advertise{
    grid-area: advertise;
}
footer{
    grid-area: footer;
}

.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
                    "header header header header"
                    "navbar main main sidebar"
                    "navbar main main advertise"
                    "navbar footer footer advertise";
}